body {
		background-image: url("image/crayons.jpg");
		background-attachment: fixed;
		background-size: cover;
		

		}
p		{
		font-family: times new roman;
		font-size: 20px;
		margin-left: 50px;
		margin-right: 50px;
		line-height: 1.8;
		 
	}
h2		{
		font-family: times new roman;
		font-size: 25px;
}
	
	ul {
          list-style-type: none;
          margin: 20;
          padding: 0;
        }
		
		
	ul.list {
		list-style-type:circle;
		margin-left: 23%;
		font-size: 20px;
		line-height: 1.8;
	}

	
	button {
		background-color: white;
		border: none;
		color: white;
		padding: 8px 15px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 50px;
	}
.navbar {
		overflow: hidden;
		background-color: #4b79ab;
		font-family: times new roman;
		
		
}

.navbar a {
		  float: left;
		  font-size: 16px;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
}

.dropdown {
		  float: left;
		  overflow: hidden;
}

.dropdown .dropbtn {
		cursor: pointer;
		font-size: 16px;  
		border: none;
		outline: none;
		color: white;
		padding: 14px 16px;
		background-color: inherit;
		font-family: times new roman;
		margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
		background-color: black;
}

.dropdown-content {
		display: none;
		position: absolute;
		background-color: white;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
}

.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
}

.dropdown-content a:hover {
		background-color: #ddd;
}

.show {
		display: block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: #000;
}

.container:hover .overlay {
  opacity: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  position: relative;
  width: 30%;
}

ul#menu li {
  display:inline;
  font-size: 18px;
  
}

ul#menu li a:link { 
	text-decoration: none;
	color: black;
	} 
ul#menu li a:visited {
		color: #1778b0;
		text-decoration: none;
	}
li.item {
  		display: inline;
		font-size: 20px;
		margin-right: 50px;
		}

button {
	background-color: #f2faff;
}

.center{
  position: fixed;
  top: 35%;
  right: 0px;
  width: 85px;
  height: 0px;
  text-align:right;
  z-index:9999;
    margin-top: 15px;
	margin-bottom: 15px;
}

.center a{
	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	display: block; 
	background: #06c; 
   text-align: left;
	height: 15px; 
	width: 100px;
	padding: 8px 16px;
	color: #fff; 
	font-family: times new roman; 
	font-size: 17px; 
	font-weight: bold; 
	text-decoration: none; 
	
        
}

.center a:hover { 
                background: #CCC; 
            }